<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<h2>Welcome to Bank</h2>
<span th:text="${name}"></span>
</body>
</html>